<mat-card class="task" [ngClass]="theme==='light'?'light':'dark'">
    <div class="task-content">
        <mat-icon class="task-bullet">label_important</mat-icon>
        <span [ngClass]="taskData.doneStatus?'task-done':''">{{taskData.title}}</span><br>
        <small>{{taskData.description}}</small>
    </div>
    <div class="task-actions-container">
        <mat-icon class="task-action" (click)="editTask(taskData)">edit</mat-icon>
        <mat-icon class="task-action" (click)="deleteTask(taskData.taskId)">delete_forever</mat-icon>
    </div>
</mat-card>